---
import Layout from '../layouts/Layout.astro'

const services = {
    services: [
        {
            title: 'Business Consulting Services',
            description:
                "Navigate your business journey with expert guidance. Our business consulting services offer tailored solutions to address your challenges and seize opportunities. From strategic planning to process optimization, we're here to help you make informed decisions that drive growth and success.",
        },
        {
            title: 'Social Media Management',
            description:
                "Elevate your online presence effortlessly. Our social media management services empower you to connect with your audience on platforms that matter most. We'll curate engaging content, schedule posts, and interact with followers to build a vibrant online community around your brand.",
        },
        {
            title: 'Graphic Design and Branding',
            description:
                'Capture attention and build recognition. Our graphic design and branding services create visually appealing assets that align with your business identity. From logos to marketing materials, we ensure your brand stands out and communicates its core values consistently.',
        },
        {
            title: 'Website Setup and Optimization',
            description:
                "Establish a strong digital foundation. Our website setup and optimization services create professional, user-friendly websites that cater to your target audience. Whether you're launching your first site or refining an existing one, we ensure your online platform reflects your business effectively.",
        },
        {
            title: 'Bookkeeping and Financial Management',
            description:
                'Stay on top of your finances with ease. Our bookkeeping and financial management services help you maintain accurate records, manage expenses, and plan for financial growth. By taking care of the numbers, we allow you to focus on what you do best – running your business.',
        },
        {
            title: 'Local SEO and Online Visibility',
            description:
                "Be found by those who matter most. Our local SEO services ensure your business appears in relevant online searches within your community. We'll optimize your online profiles, manage reviews, and implement strategies that drive local customers through your doors.",
        },
    ],
}

const team = [
    {
        name: 'Jean Gray',
        jobTitle: 'CEO',
        description:
            'Experienced software engineer with a passion for developing innovative solutions and optimizing code efficiency.',
        image: 'https://source.unsplash.com/0Zx1bDv5BNY',
    },
    {
        name: 'Scott Summers',
        jobTitle: 'VP',
        description:
            'Experienced software engineer with a passion for developing innovative solutions and optimizing code efficiency.',
        image: 'https://source.unsplash.com/JQ2D4I-2eyw',
    },
    {
        name: 'Charlene Xavier',
        jobTitle: 'COO',
        description:
            'Experienced software engineer with a passion for developing innovative solutions and optimizing code efficiency.',
        image: 'https://source.unsplash.com/kXmKqYOGA4Y',
    },
    {
        name: 'Jane Doe',
        jobTitle: 'Marketing Manager',
        description:
            'Creative marketing professional with a track record of successful campaigns and a strong ability to analyze market trends.',
        image: 'https://source.unsplash.com/hglwfa4kj_o',
    },
    {
        name: 'Alex Johnson',
        jobTitle: 'Graphic Designer',
        description:
            'Talented graphic designer specializing in creating visually stunning designs for both print and digital media.',
        image: 'https://source.unsplash.com/sibVwORYqs0',
    },
    {
        name: 'Emily Davis',
        jobTitle: 'Data Scientist',
        description:
            'Data scientist with expertise in machine learning and statistical analysis, dedicated to deriving meaningful insights from complex data sets.',
        image: 'https://source.unsplash.com/WYE2UhXsU1Y',
    },
]
---

<Layout title="About Three">
    <!-- HERO Section -->
    <section class="bg-gradient-to-tl from-slate-50 to-slate-200">
        <div>
            <div
                id="first-bubble"
                class="animate-bubble 3xl:hidden absolute inset-y-64 right-12 h-36 w-36 transform rounded-full bg-red-500 mix-blend-multiply blur-lg md:h-48 md:w-48 lg:h-72 lg:w-72 xl:inset-y-72 xl:h-80 xl:w-80"
            >
            </div>
            <div
                id="second-bubble"
                class="animate-bubble 3xl:hidden absolute inset-y-64 right-52 h-36 w-36 rounded-full bg-blue-500 opacity-50 mix-blend-multiply blur-lg md:h-48 md:w-48 lg:h-72 lg:w-72 xl:inset-y-72 xl:h-80 xl:w-80"
            >
            </div>
            <div
                id="third-bubble"
                class="animate-bubble 3xl:hidden absolute inset-y-80 right-32 h-36 w-36 rounded-full bg-green-500 opacity-50 mix-blend-multiply blur-lg md:h-48 md:w-48 lg:h-72 lg:w-72 xl:inset-y-96 xl:h-80 xl:w-80"
            >
            </div>
        </div>
        <div
            class="relative mx-auto max-w-screen-xl px-4 py-32 sm:px-6 lg:flex lg:h-screen lg:items-center lg:px-8"
        >
            <div
                class="max-w-xl text-justify ltr:sm:text-left rtl:sm:text-right"
            >
                <h1 class="text-3xl font-extrabold sm:text-5xl">
                    [Business Name] <br />

                    <strong class="text-back block font-extrabold">
                        Your Local Destination for [Key Offerings]
                    </strong>
                </h1>

                <p class="mt-4 max-w-lg sm:text-xl/relaxed">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    Nesciunt illo tenetur fuga ducimus numquam ea!
                </p>

                <div class="mt-8 flex flex-wrap gap-4 text-center">
                    <a
                        href="#"
                        class="block w-full rounded bg-black px-12 py-3 text-sm font-medium text-white shadow hover:bg-gray-300 focus:outline-none focus:ring active:bg-gray-500 sm:w-auto"
                    >
                        Learn More
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- Mission statement -->
    <section class="bg-white text-black">
        <div
            class="max-w-screen-3xl px-4 py-8 sm:px-6 sm:py-12 lg:px-8 lg:py-16"
        >
            <div class="max-w-xl lg:pl-16">
                <h2 class="text-3xl font-bold sm:text-4xl">
                    What makes us special
                </h2>

                <p class="mt-4 text-gray-400">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Repellat dolores iure fugit totam iste obcaecati.
                    Consequatur ipsa quod ipsum sequi culpa delectus, cumque id
                    tenetur quibusdam, quos fuga minima.
                </p>
            </div>

            <div
                class="mt-8 grid grid-cols-1 gap-8 md:mt-16 md:grid-cols-2 md:gap-12 lg:grid-cols-3"
            >
                {
                    services.services.map((data) => (
                        <div class="flex items-start gap-4">
                            <span class="shrink-0 rounded-lg bg-white p-4">
                                <svg
                                    class="h-5 w-5"
                                    fill="none"
                                    stroke="currentColor"
                                    viewBox="0 0 24 24"
                                    xmlns="http://www.w3.org/2000/svg"
                                >
                                    <path d="M12 14l9-5-9-5-9 5 9 5z" />
                                    <path d="M12 14l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14z" />
                                    <path
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        stroke-width="2"
                                        d="M12 14l9-5-9-5-9 5 9 5zm0 0l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14zm-4 6v-7.5l4-2.222"
                                    />
                                </svg>
                            </span>

                            <div>
                                <h2 class="text-lg font-bold">{data.title}</h2>

                                <p class="mt-1 text-sm text-gray-400">
                                    {data.description}
                                </p>
                            </div>
                        </div>
                    ))
                }
            </div>
        </div>
    </section>
    <!-- History Section -->
    <section class="body-font text-black">
        <div class="container mx-auto flex flex-wrap px-5 py-24">
            <div class="max-w-xl pb-12 lg:pb-20">
                <h2 class="text-3xl font-bold sm:text-4xl">
                    Our Company Story
                </h2>
            </div>
            <div class="flex w-full flex-wrap">
                <div class="md:w-1/2 md:py-6 md:pr-10 lg:w-2/5">
                    <div class="relative flex pb-12">
                        <div
                            class="absolute inset-0 flex h-full w-10 items-center justify-center"
                        >
                            <div
                                class="pointer-events-none h-full w-1 bg-gray-200"
                            >
                            </div>
                        </div>
                        <div
                            class="relative z-10 inline-flex h-10 w-10 flex-shrink-0 items-center justify-center rounded-full bg-black text-white"
                        >
                            <svg
                                fill="none"
                                stroke="currentColor"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                class="h-5 w-5"
                                viewBox="0 0 24 24"
                            >
                                <path
                                    d="M12 22s8-4 8-10V5l-8-3-8 3v7c0 6 8 10 8 10z"
                                ></path>
                            </svg>
                        </div>
                        <div class="flex-grow pl-4">
                            <h2
                                class="mb-1 text-sm font-medium tracking-wider text-black"
                            >
                                STEP 1
                            </h2>
                            <p class="leading-relaxed">
                                VHS cornhole pop-up, try-hard 8-bit iceland
                                helvetica. Kinfolk bespoke try-hard cliche palo
                                santo offal.
                            </p>
                        </div>
                    </div>
                    <div class="relative flex pb-12">
                        <div
                            class="absolute inset-0 flex h-full w-10 items-center justify-center"
                        >
                            <div
                                class="pointer-events-none h-full w-1 bg-gray-200"
                            >
                            </div>
                        </div>
                        <div
                            class="relative z-10 inline-flex h-10 w-10 flex-shrink-0 items-center justify-center rounded-full bg-black text-white"
                        >
                            <svg
                                fill="none"
                                stroke="currentColor"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                class="h-5 w-5"
                                viewBox="0 0 24 24"
                            >
                                <path d="M22 12h-4l-3 9L9 3l-3 9H2"></path>
                            </svg>
                        </div>
                        <div class="flex-grow pl-4">
                            <h2 class="mb-1 text-sm font-medium tracking-wider">
                                STEP 2
                            </h2>
                            <p class="leading-relaxed">
                                Vice migas literally kitsch +1 pok pok. Truffaut
                                hot chicken slow-carb health goth, vape
                                typewriter.
                            </p>
                        </div>
                    </div>
                    <div class="relative flex pb-12">
                        <div
                            class="absolute inset-0 flex h-full w-10 items-center justify-center"
                        >
                            <div
                                class="pointer-events-none h-full w-1 bg-gray-200"
                            >
                            </div>
                        </div>
                        <div
                            class="relative z-10 inline-flex h-10 w-10 flex-shrink-0 items-center justify-center rounded-full bg-black text-white"
                        >
                            <svg
                                fill="none"
                                stroke="currentColor"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                class="h-5 w-5"
                                viewBox="0 0 24 24"
                            >
                                <circle cx="12" cy="5" r="3"></circle>
                                <path d="M12 22V8M5 12H2a10 10 0 0020 0h-3"
                                ></path>
                            </svg>
                        </div>
                        <div class="flex-grow pl-4">
                            <h2 class="mb-1 text-sm font-medium tracking-wider">
                                STEP 3
                            </h2>
                            <p class="leading-relaxed">
                                Coloring book nar whal glossier master cleanse
                                umami. Salvia +1 master cleanse blog taiyaki.
                            </p>
                        </div>
                    </div>
                    <div class="relative flex pb-12">
                        <div
                            class="absolute inset-0 flex h-full w-10 items-center justify-center"
                        >
                            <div
                                class="pointer-events-none h-full w-1 bg-gray-200"
                            >
                            </div>
                        </div>
                        <div
                            class="relative z-10 inline-flex h-10 w-10 flex-shrink-0 items-center justify-center rounded-full bg-black text-white"
                        >
                            <svg
                                fill="none"
                                stroke="currentColor"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                class="h-5 w-5"
                                viewBox="0 0 24 24"
                            >
                                <path
                                    d="M20 21v-2a4 4 0 00-4-4H8a4 4 0 00-4 4v2"
                                ></path>
                                <circle cx="12" cy="7" r="4"></circle>
                            </svg>
                        </div>
                        <div class="flex-grow pl-4">
                            <h2 class="mb-1 text-sm font-medium tracking-wider">
                                STEP 4
                            </h2>
                            <p class="leading-relaxed">
                                VHS cornhole pop-up, try-hard 8-bit iceland
                                helvetica. Kinfolk bespoke try-hard cliche palo
                                santo offal.
                            </p>
                        </div>
                    </div>
                    <div class="relative flex">
                        <div
                            class="relative z-10 inline-flex h-10 w-10 flex-shrink-0 items-center justify-center rounded-full bg-black text-white"
                        >
                            <svg
                                fill="none"
                                stroke="currentColor"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                class="h-5 w-5"
                                viewBox="0 0 24 24"
                            >
                                <path d="M22 11.08V12a10 10 0 11-5.93-9.14"
                                ></path>
                                <path d="M22 4L12 14.01l-3-3"></path>
                            </svg>
                        </div>
                        <div class="flex-grow pl-4">
                            <h2 class="mb-1 text-sm font-medium tracking-wider">
                                FINISH
                            </h2>
                            <p class="leading-relaxed">
                                Pitchfork ugh tattooed scenester echo park
                                gastropub whatever cold-pressed retro.
                            </p>
                        </div>
                    </div>
                </div>
                <img
                    class="mt-12 rounded-lg object-cover object-center md:mt-0 md:w-1/2 lg:w-3/5"
                    src="https://dummyimage.com/1200x500"
                    alt="step"
                />
            </div>
        </div>
    </section>
    <!-- Employees -->
    <section class="body-font text-black">
        <div class="container mx-auto px-5 py-24">
            <div
                class="mb-20 flex w-full flex-col text-center text-gray-400 sm:text-start"
            >
                <h1 class="mb-4 text-3xl font-bold text-black sm:text-4xl">
                    Our Team
                </h1>
                <p class="mx-auto text-base leading-relaxed sm:mx-0 lg:w-2/3">
                    Whatever cardigan tote bag tumblr hexagon brooklyn
                    asymmetrical gentrify, subway tile poke farm-to-table.
                    Franzen you probably haven't heard of them.
                </p>
            </div>
            <div class="-m-2 flex flex-wrap">
                {
                    team.map((employee) => (
                        <div class="w-full p-2 md:w-1/2 lg:w-1/3">
                            <div class="flex h-full items-center rounded-lg border border-gray-200 p-4">
                                <img
                                    alt="team"
                                    class="mr-4 h-16 w-16 flex-shrink-0 rounded-full bg-gray-100 object-cover object-center"
                                    src={employee.image}
                                />
                                <div class="flex-grow">
                                    <h2 class="font-medium text-black">
                                        {employee.name}
                                    </h2>
                                    <p class="text-gray-500">
                                        {employee.jobTitle}
                                    </p>
                                </div>
                            </div>
                        </div>
                    ))
                }
            </div>
        </div>
    </section>
</Layout>

<style>
    #second-bubble {
        animation-delay: 2s;
    }
    #third-bubble {
        animation-delay: 4s;
    }
</style>
